
/* left col header */
/* middle col header */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto Slab";
	font-weight: 400;
	&:not(.side-layout) {
		header {
			&:not(.smaller) {
				&:not(.header-mobile).header-light.transparent {
					background: rgba(255, 255, 255, 0.0);
				}
			}
		}
	}
}

$minWidth: 320px;
$maxWidth: 1920;
$maxWidthContainer: 1320;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

._container {
	max-width: 1320px;
    width: 100%;
	margin: 0 auto;
	@media (max-width: 1340px) {
		max-width: 1140px;
        width: 100%;
	}
	@media (max-width: 1160px) {
		max-width: 1020px;
        width: 100%;
	}
	@media (max-width: 1020px) {
		max-width: none;
		padding: 0 10px;
	}
}

li {
	list-style: none;
}
a {
	color: inherit;
	text-decoration: none;
	&:visited {
		color: inherit;
		text-decoration: none;
	}
	&:hover {
		color: inherit;
		text-decoration: none;
	}
}
header {
    display: flex;
    align-items: center;
    background-color: #FAF6F1;
	height: 90px;
	width: 100%;
	position: sticky;
    top: 0;
	left: 0;
	z-index: 1001;
	margin: 0;
    border-bottom: solid 1px #ccc;
    .header__inner, .header__left, .header__right {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .header__left {
            input {
                width: 290px;
                height: 36px;
                border: solid 1px #888;
                background: #FDFBF8;
                border-radius: 0;
                margin-left: 30px;
                padding: 4px 11px;
                box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.09);
                transition: .7s;
                &:hover {
                    box-shadow: 0px 0px 0px 4px rgba(13, 12, 34, .3);
                }
            }
        }
        .header__right {
            .nav__menu {
                font-weight: 600;
                font-size: 14px;
                float: none;
                ul {
                    margin: 0px 0px;
                    padding: 0px;
                    height: 30px;
                    border-radius: 5px;
                    -moz-border-radius: 5px;
                    -webkit-border-radius: 5px;
                    overflow: hidden;
                    background: #ffffff;
                    li {
                        &:hover {
                            >a {
                                color: #fff;
                                background: #000;
                            }
                        }
                    }
                }
                li {
                    margin: 0px 0px;
                    padding: 0px 0px;
                    display: inline;
                    list-style: none;
                    position: relative;
                    >a {
                        padding-right: 6px;
                        font-weight: 800;
                    }
                    &:hover {
                        a {
                            span {
                                width: 100%;
                            }
                        }
                        >ul {
                            visibility: visible;
                            opacity: 1;
                            margin-top: 0px;
                            color: #1a8b49;
                        }
                    }
                    li {
                        a {
                            span {
                                float: right;
                                margin-top: 5px;
                            }
                            padding: 5px 15px;
                            border-top: none;
                            color: #606060;
                            width: 100%;
                            border-left: none;
                            text-align: left;
                            font-weight: normal;
                            border-bottom: solid 1px rgba(255, 255, 255, .1);

                        }
                        font-family: var(--body-font);
                        font-size: 14px;
                        font-size: 14px;
                        display: block;
                        float: none;
                        text-transform: none;
                        &:last-child {
                            border-bottom: none;
                        }
                        li {
                            a {
                                padding: 2px 15px 2px 15px;
                                background: #171A21;
                            }
                        }
                    }
                    &:last-child {
                        >a {
                            border-bottom: none;
                        }
                    }
                    ul {
                        width: 180px;
                        height: auto;
                        position: absolute;
                        left: 0px;
                        z-index: 10;
                        visibility: hidden;
                        opacity: 0;
                        ul {
                            left: 100%;
                            top: 0px;
                            li {
                                a {
                                    background: #ffffff;
                                }
                            }
                        }
                    }
                }
                li.dropdown {
                    &:after {
                        font-family: FontAwesome;
                        content: "\f078";
                        color: black;
                        padding-left: 5px;
                        font-size: 8px;
                        position: relative;
                        top: -2px;
                    }
                    >a {
                        padding-right: 0px;
                    }
                }
                a {
                    position: relative;
                    display: inline-block;
                    padding: 30px 18px;
                    text-decoration: none;
                    color: black;
                    text-align: center;
                    outline: none;
                    span {
                        position: relative;
                        width: 0%;
                        color: #ffffff;
                        display: block;
                        font-size: 10px;
                        text-transform: uppercase;
                        line-height: 14px;
                        border-bottom: solid 2px #ffffff;
                    }
                }
            }
            .connect {
                border: 0;
                background-color: black;
                color: white;
                padding: 8px 20px;
                outline: 0;
                font-weight: 800;
                text-decoration: none;
                font-size: 14px;
                text-align: center;
                margin-left: 20px;
                transition: 0.7s;
                &:hover {
                    border: solid 1px #888;
                    background: #FDFBF8;
                    color: #000;
                    border-radius: 0;
                    box-shadow: 6px 6px 0px 0px rgba(0,0,0,0.09);
                }
            }
        }
    }
    @media (max-width: 1020px) {
        .nav__menu {
            display: none;
        }           
    }
    @media (max-width: 772px) {
        .search {
            display: none;
        }
    }
}