<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/style/header.css">
</head>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
</style>

<script src="https://kit.fontawesome.com/41dee2e3e9.js" crossorigin="anonymous"></script>
<body style="height: 200vh;">
    <header>
        <div class="_container">
            <div class="header__inner">
                <div class="header__left">
                    <div class="logo"><img src="assets/images/logo-retro.png" alt=""></div>
                    <input class="search" type="text" placeholder="search item here...">

                </div>
                <div class="header__right">
                    <ul class="nav__menu">
                        <li class="dropdown">
                            <a>Home</a>
                            <ul>
                                <li><a>Homepage 1</a></li>
                                <li><a>Homepage 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>Explore</a>
                            <ul>
                                <li><a>Explore</a></li>
                                <li><a>Explore 2</a></li>
                                <li><a>New: Music NFT</a></li>
                                <li><a>Collections</a></li>
                                <li><a>Live Auction</a></li>
                                <li><a>Item Details</a></li>
                                <li><a>Help Center</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a>Author</a>
                            <ul>
                                <li><a>Author</a></li>
                                <li><a>Profile</a></li>
                                <li><a>Wallet</a></li>
                                <li><a>Create</a></li>
                                <li><a>Login</a></li>
                            </ul>
                        </li>                                    
                        <li class="dropdown">
                            <a>Stats</a>
                            <ul>
                                <li><a>Activity</a></li>
                                <li><a>Rankings</a></li>
                            </ul>
                        </li>
                    </ul>
                    <button class="connect"><p>Connect Wallet</p></button>
                </div>
            </div>
    </header>
</body>
</html>