@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee";
  font-weight: bold;
  letter-spacing: 0;
  color: #0d0c22;
}

body {
  background-color: #faf6f1;
  color: #727272;
}

#create-collectible-page {
  .create-collectible-page--title {
    border-bottom: solid 1px #ccc;
    h1 {
      font-size: 45px;
    }
  }

  .create-collectible-page--content {
    .nft__item {
      border: solid 1px #888;
      background: #fdfbf8;
      border-radius: 0;
      box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.09);
      position: relative;
      padding: 20px;
      margin-bottom: 25px;
      background: #ffffff;

      .nft__item_price {
        font-size: 14px;
        font-weight: 600;
        display: block;
        span {
          margin-left: 10px;
          color: #0d0c22;
          font-weight: 700;
        }
      }

      .nft__item_like {
        position: relative;
        bottom: 22px;
        font-size: 14px;
        color: #ddd;
        float: right;

        i {
          transition: 0.7s;
        }

        &:hover i {
          color: #ec7498;
        }

        span {
          color: #808080;
          margin-left: 5px;
          font-size: 12px;
        }
      }

      .nft__item_action {
        font-size: 14px;
        a {
          font-weight: bold;
          color: #0d0c22;
        }
      }

      .nft__item_info {
        position: relative;
        .nft__item_click {
          position: absolute;
          top: -6px;
          right: 0;
          text-align: center;

          span:hover::after {
            background-color: rgba(0, 0, 0, 0.1);
          }

          span:after {
            display: block;
            font-size: 16px;
            content: "...";
            position: relative;
            font-weight: bold;
            letter-spacing: 2px;
            cursor: pointer;
            color: #0d0c22;
            line-height: 0;
            width: 24px;
            height: 24px;
            padding: 8px 0 0 2px;
            border-radius: 30px;
            transition: 0.5s;
          }
        }
      }

      .de_countdown {
        position: absolute;
        right: 20px;
        background: #ffffff;
        border: solid 1px #0d0c22;
        text-align: center;
        color: #0d0c22;
        min-width: 150px;
        padding-left: 10px;
        padding-right: 5px;
        text-align: center;
        z-index: 1;

        span {
          font-weight: bold;
          font-family: "Roboto Slab";
          word-spacing: 5px;
          color: #0d0c22;
        }
      }

      cursor: pointer;

      &:hover .nft__item_preview {
        transform: scale(1.2);
      }

      .nft__item_wrap {
        width: 100%;
        text-align: center;
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        justify-content: center;
        position: relative;
        background-size: cover;
        height: 264px;
        overflow: hidden;
        z-index: 0;
        margin-top: 20px;

        .nft__item_preview {
          transition: 0.7s;
        }
      }

      .author_list_pp {
        position: absolute;
        z-index: 1;

        a {
          position: relative;

          i {
            color: #ffffff;
            font-size: 10px;
            background-color: #0d0c22;
            padding: 3px;
            position: absolute;
            right: 0px;
            bottom: -15px;
            border-radius: 100%;
            z-index: 1;
          }

          img {
            border: solid 2px #333;
            box-shadow: 6px 6px 0px 0px rgba(0, 0, 0, 0.09);
            border-radius: 100%;
            background-color: #0d0c22;
            box-sizing: border-box;
            width: 50px;
            z-index: 2;
            transition: 0.3s;

            &:hover {
              padding: 3px;
            }
          }
        }
      }
    }

    #item_desc {
      padding: 8px;
      margin-bottom: 20px;
      border: none;
      border: solid 1px #dddddd;
      background: none;
      height: auto;
      border-radius: 0;
      color: #333;

      &:focus {
        box-shadow: 0px 0px 0px 4px rgba(13, 12, 34, 0.3);
        background-color: rgba(13, 12, 34, 0.1);
      }
    }
    #form-create-item {
      input#submit {
        text-align: center;
        color: #fff;
        background-color: #0d0c22;
        outline: 0;
        font-weight: 800;
        text-decoration: none;
        padding: 8px 40px;
        font-size: 14px;
        border: none;
        transition: all 0.7s;
        &:hover {
          box-shadow: 2px 2px 20px 0px rgba(13, 12, 34, 0.5);
        }
      }

      input[type="text"] {
        padding: 8px;
        margin-bottom: 20px;
        border: none;
        border: solid 1px #dddddd;
        background: none;
        height: auto;
        border-radius: 0;
        color: #333;

        &:focus {
          box-shadow: 0px 0px 0px 4px rgba(13, 12, 34, 0.3);
          background-color: rgba(13, 12, 34, 0.1);
        }
      }
      #btn-selector {
        appearance: none;
        display: inline-block;
        padding: 7px 12px 7px 12px;
        border: 0;
        border-radius: 0;
        outline: 0;
        background-color: #faf6f1;
        min-width: 140px;
        border: solid 1px rgba(0, 0, 0, 0.2);
        font-weight: bold;
        color: #333;
        width: 100%;
      }

      .switch-with-title {
        padding: 20px;
        padding-bottom: 10px;
        border: solid 1px rgba(0, 0, 0, 0.1);
      }

      .de_tab {
        overflow: hidden;
        padding-left: 0;
        margin: 0;
        padding: 0;
        font-weight: bold;

        .de_tab_content {
          #tab_opt_1,
          #tab_opt_2,
          #tab_opt_3 {
            display: none;
          }

          .tab_opt_active {
            display: block !important;
          }

          padding: 5px;
          input {
            padding: 8px;
            margin-bottom: 20px;
            border: none;
            border: solid 1px #dddddd;
            background: none;
            height: auto;
            border-radius: 0;
            color: #333;

            &:focus {
              box-shadow: 0px 0px 0px 4px rgba(13, 12, 34, 0.3);
              background-color: rgba(13, 12, 34, 0.1);
            }
          }
        }

        .de_nav {
          overflow: hidden;
          padding-left: 0;
          margin: 0;
          padding: 0;
          font-weight: bold;
          list-style-type: disc;

          li {
            background: none;
            display: inline-block;
            float: none;
            margin: 0 10px 0 0;
            cursor: pointer;

            &:active span {
              border-color: #0d0c22;
              color: #0d0c22;
            }

            span {
              padding: 35px 10px;
              color: rgba(0, 0, 0, 0.6);
              font-size: 14px;
              line-height: 20px;
              text-align: center;
              display: table-cell;
              vertical-align: middle;
              min-width: 140px;
              border: solid 2px rgba(0, 0, 0, 0.1);
              transition: 0.7s;

              i {
                display: block;
                font-size: 30px;
                margin-bottom: 10px;
              }
            }
          }

          .active {
            span {
              border-color: #0d0c22;
              color: #0d0c22;
            }
          }
        }
      }

      h5 {
        font-size: 18px;
      }
      .d-create-file {
        padding: 50px;
        border: dashed 3px #dddddd;
        text-align: center;

        p {
          margin-bottom: 20px;
          font-weight: 400;
          font-family: "Roboto Slab";
        }

        #get_file {
          text-align: center;
          color: #fff;
          background-color: #0d0c22;
          outline: 0;
          font-weight: 800;
          text-decoration: none;
          padding: 8px 40px;
          font-size: 14px;
          border: none;
          transition: all 0.7s;
          &:hover {
            box-shadow: 2px 2px 20px 0px rgba(13, 12, 34, 0.5);
          }
        }
      }
    }
  }
}

// Footer style
.footer {
  background-color: #0d0c22;

  h5,
  a,
  p,
  i {
    color: white;
    font-family: "Roboto Slab", serif;
  }

  .headText {
    font-family: "Bungee", cursive;
  }

  a {
    text-decoration: none;
  }

  h5 {
    font-size: 1.125rem;
  }

  ul {
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 0.5rem;
  }

  .smallRem {
    font-size: 0.875rem;
  }

  .inputDiv {
    input {
      background-color: #262548;
      border: 0 solid;

      &::placeholder {
        font-family: "Roboto Slab", serif;
        color: white;
      }
    }

    i {
      font-size: 1.7rem;
      border: 1.1rem solid #0d0c22;
      background-color: #0d0c22;
    }
  }

  .footerBottom {
    .dissapearHover {
      transition: 0.6s;

      &:hover {
        color: #0d0c22 !important;
      }
    }

    .socialLinks {
      i {
        display: inline-block;
        color: white;
        padding: 0.75rem 0.625rem 0.5rem 0.625rem;
        text-align: center;
        width: 2.5rem;
        height: 2.5rem;
        margin: 0 0.188rem 0 0.188rem;
        transition: 0.8s;

        &:hover {
          border: 0.2rem solid white;
          background-color: white;
          border-radius: 0.4rem;
          color: #0d0c22;
        }
      }

      .fa {
        font: normal normal normal 14px/1 FontAwesome;
      }
    }
  }
}
