@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bungee";
  font-weight: bold;
  letter-spacing: 0;
  color: #0d0c22;
}

body {
  background-color: #faf6f1;
  color: #727272;
}
