* { 
    box-sizing: border-box;
    padding:0;
    margin:0;
}

#section-intro {

.card {
  
    background-color: #E2DEDB;
    border-radius: 0;
    border: none;
    overflow: hidden;     
    transition: .7s ;                    

    &:hover
     {

        background-color: #0D0C22;
        color:white !important;
        transition: .7s;

         
     
        .card-title {
          
            color:white !important;
            transition: .7s;
       

        }
        .card-text {
            color:white !important;
            transition: .7s;
     }

     
     .behind {
        opacity: 0;
        transition: 400ms;
        transform: rotate(-10deg);

    }
     
    
    }


    .card-body {
        position: relative;
            padding: 50px;
          z-index: 0;
     

        .icon 
        { 
           width: 56px;
           height: 56px;
           font-size: 28px;
           color: white;
           text-align: center;
           padding: 7px 0;
           background-color: #0D0C22;
         margin-bottom: 15px;
         margin-top: -10px;
           display: inline-block;
              
         
       }
   
       .card-title {
   
           color:#0D0C22;
          text-transform: uppercase;
          font-size: 20px;
          font-weight: bold;
          font-family: "Bungee";
          margin-bottom:10px;

        

       }

   
       .card-text {
          
           color: grey;
           line-height: 26px;
         font-family: "Roboto Slab";
            font-size: 18px;    
       }

    }

    
    .behind {
        position: absolute;
        font-size: 240px;
        color: #CCC8C8;
        right: 0;
        top: 10%;
        left: 50%;
        z-index: -1;
        
        
        
    }
 
    
   }
}

  




